name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v6
        with:
          go-version: "1.23"

      - run: go mod verify

      - uses: golangci/golangci-lint-action@v7

      - run: go test -race ./...

      - run: go build ./...
